<h2><%= @post.title %></h2>
<small><%= @post.category.name %></small>
<small><%= @post.created_at.strftime("%b. %d, %Y %I:%M %p %Z") %></small>
<p><%= @post.body %></p>
<%= link_to "Back", posts_path %> | <%= link_to "Edit", edit_post_path %> | <%= link_to "Delete", @post, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>